<div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <h6>ID: {{_id}}</h6>
                <h4 class="card-title d-flex justify-content-between align-item-center">
                    Title: {{title}}
                    <a href="/notes/edit/{{_id}}">
                        <i class="fas fa-edit">
                        </i>
                    </a>
                </h4>
                <p>
                    Description: {{description}}
                </p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-primary btn-block btn-sm" type="submit">
                        Delete
                    </button>
                </form>
            </div>
        </div>
        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">There are not notes yet.</p>
                <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
            </div>
        </div>
    {{/each}}
</div>