<div class="col-md-5 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>New Note</h3>
        </div>
        <div class="card-body">
             <form action="/notes/new-note" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Save
                    </button>
                </div>
             </form>
        </div>
    </div>
</div>