<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
     <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/7024ca337d.js" crossorigin="anonymous"></script>  
</head>
<body>
    <div>
        <p>Navigation</p>
        <hr/>
    </div>
    <main class="container p-4">
        {{{ body }}}
    </main>
    <div>
        <hr/>
        <p>Footer</p>
    </div>
</body>
</html>
